################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/psychoTest/obj
/Model/bin/Debug/netstandard1.4
/Model/obj
/psychoTest/bin/Debug
/TestGenerator/bin/Debug
/TestGenerator/obj/Debug
